*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.justify-content-center{
  justify-content: center;
}

.col-8{
  width: 66.64%;
  padding: 0 16px;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

table{
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

table h2{
  margin: 30px 0;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(70, 70, 70);
  border-bottom: 2px solid rgb(70, 70, 70);
}

table thead th{
  color: rgb(255, 255, 255);
  font-size: 20px; 
  background: rgb(239, 63, 121);
}

table thead th, table tbody td{
  border: 1px solid gray;
  height: 35px;
  text-align: center;
}

table tbody tr:nth-child(odd){
  background: rgba(250, 169, 196, 0.858);
}

table tbody tr{
  transition: all 0.3s ease-out;
}

table tbody tr:hover{
  background: rgba(247, 51, 116, 0.858);
  color: white;
}